<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body>
    <div>
        <a class="insta" href="/"><img src="/static/images/insta_image.jpeg" alt="insta" width="42" height="42"></a>
        <a class="explore" href="/explore/">explore</a>
        <a class="awdeorio" href="/users/{{logname}}/">{{logname}}</a>

        <h1> Insta485</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <hr>

    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>

</body>

</html>